<!DOCTYPE html >
<html lang="en" xmlns:th="http//www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
</head>
<body>
    <div class="container">
        <div>
            <h1> Welcome To Login</h1>
        </div>
        <div>
            <h1> <a th:href="@{/register}">Register</a></h1>
        </div>
        <div>
            <h1> Welcome To Login</h1>
        </div>
    </div>

</body>
</html>